body {
    background-color: #ffa600;
    font-family: "Halvetica Neue", "Halvetica Neue Light", 
    "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    height: 100%;
}

.wrapper {
    width: 800px;
    margin: 30px auto;
    color: #fff;
    text-align: center;
}

h1, h2, h3 {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-size: 2.6rem;
    text-transform: uppercase;
}

#days, #hours, #minutes, #seconds, #tens, p {
    font-size: 1.75em;
}



button {
    border-radius: 5px;
    background: #ffa600;
    color: #fff;
    border: solid 1px #fff;
    text-decoration: none;
    cursor: pointer;
    font-size: 1.2em;
    padding: 18px 10px;
    width: 180px;
    margin: 10px;
    outline: none;
}

button:hover {
    transition: all 0.5s ease-in-out;
    background: #fff;
    border: solid 1px #fff;
    color: #ffa600;
}

#container-zeros-and-words {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container-content-zeros-and-words {
    display: flex;
    flex-direction: column;
}

.columns {
    font-size: 32px;
}